.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.boxPrincipal {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin: 0px auto;
}

.boxIntroduction {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 50%;
    border-radius: 30px;
    margin: 0px;
}

.boxInfo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.453);
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;

}

.boxTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    margin: 40px 0px 0px 40px;
    font-size: 3rem;
    line-height: 3rem;
    color: white;
    font-family: 'Bowlby One', cursive;
}

.boxScore {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    height: 30px;
    margin: 0px 0px 0px 40px;
}

.iconScore {
    height: 25px;
    width: 25px;
}

.score {
    margin: 0px;
    font-size: 2rem;
}

.details {
        margin: 0px;
        line-height: 1.1rem;
        /* font-family: 'Alumni Sans Pinstripe', sans-serif; */
        color: rgb(116, 112, 112);
        font-size: 1.1rem;
        font-weight: 400;
}

.detailsLocation {
    margin: 0px;
    line-height: 1rem;
    /* font-family: 'Alumni Sans Pinstripe', sans-serif; */
    color: rgb(116, 112, 112);
    font-size: 1.3rem;
    font-weight: 800;
}

.dot {
    height: 50px;
    width: 50px;
}

.box2 {
    /* margin-left: 30px;
    width:100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(13, 255, 0, 0.385); */
    margin: 0px 0px 0px 30px;
    width: 45%;
}

.title {
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    line-height: 2.2rem;
    margin: 30px 0px 10px 0px; 
    width: 90%;
}

.boxDeptMun {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 30px;
    margin-bottom: 10px;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.boxButton {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 0px 30px 30px 30px;
    justify-content: space-between;
}


.buttonPhotos {
    border: solid 1px rgb(169, 169, 169);
    background-color: rgb(60, 140, 108);
    color: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    text-align: center;
    margin: 0px;
}

.buttonPhotos:hover {
    cursor: pointer;
    color: rgb(60, 140, 108);
    background-color: rgb(39, 39, 39);

}

.iconPhotos {
    height: 25px;
    width: 25px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1090px) {
    .title {
        margin-top: 20px;
        font-size: 1.8rem;
        line-height: 1.5rem;
    }
    .name {
        margin: 40px 40px 0px 40px;
        width: 80%;
        font-size: 2.8rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 800px) {
    .name {
        width: 80%;
        font-size: 2rem;
        line-height: 2rem;
    }
    .boxPrincipal {
        flex-direction: column;
    }
    .boxIntroduction {
        height: 350px;
        width: 100%;
    }
    .box2 {
        margin: 0px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .title {
        margin-top: 30px;
        font-size: 1.5rem;
        line-height: 1.2rem;
    }

    .box2 {
        width: 90%;
    }

    .details {
        line-height: 1rem;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .detailsLocation {
        margin: 0px;
        line-height: 1rem;
        color: rgb(116, 112, 112);
        font-size: 1rem;
        font-weight: 800;
    }
    
    

}


