.container {
    display: flex;
    flex-direction: column;
    margin: 100px 40px 0px 50px;
}

.boxPrincipal {
    display: flex;
    flex-direction: row;
}

.boxIntroduction {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 50%;
    border-radius: 30px;
    margin: 0px;
}

.boxInfo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.453);
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;

}

.boxTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    margin: 40px 0px 0px 40px;
    font-size: 3rem;
    line-height: 3rem;
    color: white;
    font-family: 'Bowlby One', cursive;
}

.boxScore {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    height: 30px;
    margin: 0px 0px 0px 40px;
}

.iconScore {
    height: 25px;
    width: 25px;
}

.score {
    margin: 0px;
    font-size: 2rem;
}

.details {
        margin: 0px;
        line-height: 1.5rem;
        font-family: 'Alumni Sans Pinstripe', sans-serif;
        color: rgb(116, 112, 112);
        font-size: 2rem;
        font-weight: 700;
}

.dot {
    height: 50px;
    width: 50px;
}

.principalPicture {
    height: 350px;
    width: 50%;
    border-radius: 10px 0 0 10px;
    background-color: rgb(60, 140, 108);
}

.boxSecondary {
    margin: 0px auto;
    width: 45%;
}

.title {
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    margin: 30px 0px 0px 0px; 
}

.boxDeptMun {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.boxButton {
    display: flex;
    align-items: center;
    margin: 0px 30px 10px 30px;
    justify-content: space-between;
}


.buttonPhotos {
    border: solid 1px rgb(169, 169, 169);
    background-color: rgb(60, 140, 108);
    color: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    text-align: center;
    margin: 0px;
}

.buttonPhotos:hover {
    cursor: pointer;
    color: rgb(60, 140, 108);
    background-color: rgb(39, 39, 39);

}

.iconPhotos {
    height: 25px;
    width: 25px;
}
