.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;

}

.boxPersonal {
    width: 90%;
    min-height: 300px;
    display: flex;
    background: url("../tools/food3.webp") no-repeat center center;
    background-size: cover;
    margin: 100px auto 0px auto;
    border-radius: 20px;
}

.boxInfo {
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.768);
    border-radius: 20px;
    
}

.boxData {
    width: 60%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}

.imageProfile {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin: 50px;
}

.boxPrincipal {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.boxSecondary {
    width: 75%;
}

.text {
    width: 500px;
}

.name, .gender {
    color: white;
    text-align: center;
}

.birthday, .gender, .phone, .birthday {
    color: rgb(0, 0, 0);
    text-align: center;

}

.name {
    font-size: 5rem;
    margin: 20px 0px 0px 0px;
    line-height: 5rem;
}

.email {
    font-size: 3rem;
    color: white;
    margin: 0px;
    line-height: 3rem;
}

.phone, .address, .birthday, .gender {
    font-size: 1.2rem;
    margin: 0px 10px 0px 10px;
    font-weight: 400;
}

.boxButton{
    display: flex;
    flex-direction: column;
}

.buttonEdit, .button {
    height: 40px;
    border: none;
    background-color: rgb(60, 140, 108);
    color: white;
}

.buttonEdit {
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    right: 95px;
}

.button {
    margin-top: 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    width: 150px;
}

.button:hover {
    color: rgb(60, 140, 108);
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

.iconEdit {
    height: 25px;
    width: 25px;
}

.buttonEdit:hover {
    color: rgb(60, 140, 108);
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}
/* 
.modal {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
} */
