.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.boxForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px 400px 0px 80px;
    align-items: flex-end;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secondaryBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    
}

.mainTitle {
    margin: 0px
}

.secondaryTitle{
    margin: 0px 0px 35px 0px ;
    color: rgb(121, 121, 121);
    font-weight: 400;
}

.input, .button {
    height: 50px;
    padding: 0px 20px;
    border-radius: 10px;
    font-size: 1rem;
}

.input {
    border: solid 1px rgb(169, 169, 169);
    background-color: white;
    color: rgb(121, 121, 121);
    margin-bottom: 8px;
    width: 50%;

}

.text {
    margin-bottom: 0px;
}

.link {
    /* margin: 0px 0px 20px 0px; */
    font-size: 0.9rem;
    color: rgb(68, 68, 68);
    /* width: 150px; */

}
.link:hover {
    color: rgb(60, 140, 108);
    font-weight: 700;
}

.button {
    border: none;
    background-color: rgb(60, 140, 108);
    font-weight: bold;
    color: white;

}
.button:hover {
    color: rgb(60, 140, 108);
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}


