.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.boxForm {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.secondaryBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    
}

.mainTitle {
    margin: 0px
}

.secondaryTitle{
    margin: 0px 0px 35px 0px ;
    color: rgb(121, 121, 121);
    font-weight: 400;
}

.input, .button, .inputSelect, .inputLogIn {
    height: 50px;
    padding: 0px 20px;
    border-radius: 10px;
    font-size: 1rem;
}

.input, .inputLogIn, .inputSelect {
    border: solid 1px rgb(169, 169, 169);
    background-color: white;
    color: black;
    margin-bottom: 8px;
}

.input {
    width: 50%;
}

.inputSelect {
    width: 57%;
}

.text {
    margin-bottom: 0px;
}

.link {
    margin: 0px 0px 20px 0px;
    font-size: 0.9rem;
    color: rgb(68, 68, 68);
    width: 150px;

}
.link:hover {
    color: rgb(60, 140, 108);
    font-weight: 700;
}

.button {
    border: none;
    background-color: rgb(60, 140, 108);
    font-weight: bold;
    color: white;
}
.button:hover {
    color: rgb(60, 140, 108);
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

.boxIcon {
    display: flex;
    min-height: 100vh;
    width: 30%;
    background: url("../tools/food7.webp") no-repeat center center;
    background-size: cover;
}

.boxIcon:hover {
    color: rgb(61, 90, 78);
}

.boxLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.453);
}

.icon {
    width: 100px;
    height: 100px;
    color: aliceblue;
}

.name {
    font-size: 2rem;
    color: aliceblue;
    margin-right: 15px;
}
