.container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 60%;
}

.boxDetail {
    display: flex;
    flex-direction: column;
    margin: 40px 40px 0px 40px;
}

.title {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    margin: 0px; 
}

.details {
    margin: 0px;
    line-height: 1.5rem;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: rgb(116, 112, 112);
    font-size: 1.3rem;
    font-weight: 700;
}

.price {
    margin: 0px;
    text-align: end;
}

.boxButton {
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: space-between; 
}

.boxIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.iconComment {
    height: 40px;
    width: 40px;
    color: rgb(60, 140, 108);
}

.iconComment:hover {
    cursor: pointer;
    color: rgb(33, 32, 32);
}