.container {
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
}

.boxForm {
    width: 80%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secondaryBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.mainTitle {
    margin: 0px
}

.secondaryTitle{
    margin: 0px 0px 35px 0px ;
    color: rgb(121, 121, 121);
    font-weight: 400;
}

.input, .button, .inputSelect, .inputLogIn, .buttonCancel, .inputName {
    height: 50px;
    padding: 0px 20px;
    border-radius: 10px;
    font-size: 1rem;
}

.input, .inputLogIn, .inputSelect, .inputTextarea, .inputName  {
    border: solid 1px rgb(169, 169, 169);
    background-color: white;
    color: black;
    margin-bottom: 8px;
}

.inputName {
    width: 100%;

}

.input {
    width: 50%;
}

.inputTextarea {
    width: 100%;
    height: 100px;
    padding: 0px 20px;
    border-radius: 10px;
    font-size: 1rem;
}

.text {
    margin-bottom: 0px;
}

.link {
    margin: 0px 0px 20px 0px;
    font-size: 0.9rem;
    color: rgb(68, 68, 68);
    width: 150px;

}
.link:hover {
    color: rgb(60, 140, 108);
    font-weight: 700;
}

.button, .buttonCancel {
    border: none;
    font-weight: bold;
    color: white;
}

.button {
    background-color: rgb(60, 140, 108);
}

.button:hover {
    color: rgb(60, 140, 108);
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

.buttonCancel {
    background-color: rgb(61, 75, 70);
    margin-top: 8px;
}

.buttonCancel:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(85, 47, 47);
    cursor: pointer;
}

.iconClose {
    width: 45px;
    height: 45px;
    color: rgb(102, 101, 101);
    position: absolute;
    top: 90px;
    left: 27%;
}

.iconClose:hover {
    color: rgb(60, 140, 108);
    cursor: pointer;
}

