.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    /* box-shadow: 0 -30px 80px rgba(0, 0, 0, 0.118);     */
}

.filtros {
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.input, .search, .inputName, .buttonFilters  {
    color: black;
    height: 50px;
    text-align: center;
}

.input, .search{
    border: solid 1px rgb(169, 169, 169);
    background-color: white;
}

.search {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    border-radius: 20px 50px 50px 20px;

}

.input {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}

.buttonFilters {
    border: solid 1px rgb(169, 169, 169);
    background-color: rgb(60, 140, 108);
    color: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 110px;
}

.buttonFilters:hover {
    cursor: pointer;
    color: rgb(60, 140, 108);
    background-color: rgb(39, 39, 39);

}

.iconFilter {
    height: 30px;
    width: 30px;
}

.inputName {
    width: 80%;
    border: none;
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    font-size: 1rem;
}

.iconSearch {
    height: 50px;
    width: 50px;
}

.iconSearch:hover {
    color: rgb(60, 140, 108);
    cursor: pointer; 
}

.text1 {
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    line-height: 3.6rem;
    text-align: center;
    margin: 80px 0px 20px 0px;
}

