.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 1px rgba(121, 120, 120, 0.2);   
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.boxIcon, .boxUser{
    display: flex;
    align-items: center;
}

.boxIcon:hover {
    color: rgb(60, 140, 108);
    cursor: pointer;
}

.icon, .iconUser {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.iconUser:hover {
    box-shadow: 0 0px 15px rgba(89, 88, 88, 0.2);   
}

.name {
    font-size: 1.5rem;
    font-weight:500;
}

.link {
    margin-right: 20px;
    color: rgb(116, 112, 112);
    font-size: 1rem;
    font-weight: 400;
}

.link:hover {
    color: rgb(60, 140, 108);
    font-weight: 600;
}

.boxOptionsUser {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 140px;
    position: fixed;
    top: 63px;
    right: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(55, 54, 54, 0.2);    
    border-radius: 10px;
    border: solid rgb(228, 223, 223) 1px;
    padding: 10px 0px;
    justify-content: center;
}

.optionlink {
    height: 35px;
    width: 100%;
    padding: 0px 10px;
}

.optionlink:hover {
    background-color: rgba(186, 187, 187, 0.227);
}
